# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
pubspec.lock

# Visual Studio Code
.vscode/

# IDEs
.idea/
.AndroidStudio/
android/.gradle/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.ios/
.android/

# Others
*.iml
*.log
